body{
   margin: 0px;
   padding: 0px;
   text-transform: capitalize;
   box-sizing: border-box;
   outline: none;
   border: none;
}

/* header section starts */

header{
   position:fixed;
   top:0;left:0;right:0;
   background:rgb(253, 252, 252);
   padding: 2px;
   display:flex;
   align-items: center;
   justify-content: space-between;
   box-shadow:0 .1rem .5rem rgb(61, 60, 60);
   z-index: 2;
}
header #togglers{
   display: none;
}
header #toggler-bars{
   font-size: 35px;
   color:#333;
   display:none;
   padding: 8px;
   background-color: white;
   margin-left: 10px;
   border-radius: .6rem;
   border:.2rem solid rgba(0,0,0,.1);
   cursor: pointer;
}
header img{
   height: 80px;
   padding: 5px;
   margin-left:100px;
}
.nav-bar a{
   font-size: 20px;
   font-weight: bold;
   padding: 0 1.5rem;
   text-decoration: none;
   color: rgb(19, 2, 73);

}
.nav-bar a:hover{
   color: rgb(219, 20, 80);
}
.con{
   margin-right:100px;
}

/* header section ends */

/* home section starts */

.home{
   position: relative;
}
.home .home-slides .homeslide{
   min-height: 100vh;
   display:flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 15px;
   padding: 70px 9%;
   padding-bottom: 70px;
}
.home .home-slides .homeslide .home-content{
   flex:1 1 350px;
}
.home .home-slides .homeslide .image-1{
   flex:1 1 500px;
}
.home .home-slides .homeslide .image-1 img{
   width:100%
}
.home .home-slides .homeslide .home-content h3{
    font-size: 35px;
    color:#333;
}
.home .home-slides .homeslide .home-content p{
   line-height: 1.5;
   font-size: 16px;
   color:#666;
   padding: 10px 0;
}
.home .home-slides .homeslide .home-content #button5{
   margin-top: 10px;
   display: inline-block;
   background: #666;
   color:#fff;
   font-size: 17px;
   padding: 9px 40px;
   text-decoration: none;
}
.home .home-slides .homeslide .home-content #button5:hover{
   background: #333;
}
.home .home-slides{
   display: none;
}
.home .home-slides.active{
   display: block;
}
.home .home-slides:nth-child(1) .homeslide{
   background: linear-gradient(90deg,#f9f9f9 70%, rgb(86, 126, 133) 30.1%);
}
.home .home-slides:nth-child(2) .homeslide{
   background: linear-gradient(90deg,#f9f9f9 70%, rgb(36, 57, 55) 30.1%);
}
.home .home-slides:nth-child(3) .homeslide{
   background: linear-gradient(90deg,#f9f9f9 70%, rgb(10, 81, 75) 30.1%);
}
#prev,#next{
   position:absolute;
   top:50%;
   transform: translateY(-50%);
   color: #fff;
   background: #333;
   height: 50px;
   width: 40px;
   line-height: 50px;
   font-size: 25px;
   text-align: center;
   cursor: pointer;
   font-weight: bold;
} 
#prev:hover,#next:hover{
   background-color: #666;
}
#prev{
   left:20px;
}
#next{
   right:20px;
} 

/* About section starts */

.about{
   text-align: center;
   padding-left: 300px;
   padding-right: 300px;
   padding-top: 150px;
   line-height: 30px; 
}
.about-container h2{
   color: rgb(53, 41, 41);
   font-size: 40px;
}
.about-container p{
   padding-top: 30px;
   font-size: 18px;
   color: #655a5a;
   font-weight: 600;
}
.tech{
   margin-top: 50px;
}
.tech img{
   height: 50px;
}

/* About section ends */

/* services starts */

.Services{
   text-align: center;
   padding-top: 100px;
}
.flex{
   display: flex;
   padding-top: 5px;
   margin-right: 50px;
   margin-left: 180px;
}
.heading h2{
   color: rgb(53, 41, 41);
   font-size: 40px;
}
.heading p{
   padding-top: 5px;
   font-size: 20px;
   color: #655a5a;
   font-weight: 600;
}
.img1{
     width:20em;
     word-wrap:break-word ;
     line-height: 1.5;
     margin:20px;
     padding: 15px;
}
.img1 h3{
   font-size: 25px;
   color: rgb(233, 23, 23);
}
.img1 p{
   font-size: 18px;
   color: #655a5a;
   font-weight: 600;
}

/* services ends */

/* clients starts */

 .head{
   text-align: center;
}
.head h2{
   color: rgb(53, 41, 41);
   font-size: 40px;
}
.head p{
   padding-top: 5px;
   font-size: 18px;
   color: #655a5a;
   font-weight: 600;
   padding-left: 200px;
   padding-right: 200px;
   line-height: 1.8;
}
.Clients{
   padding-top:100px;
}
.clients-images img{
   padding: 30px;
   height: 145px;
   display: inline-block;
}
.clients-images{
   margin: 60px;
}

/*clients section ends*/

/*Careers section starts*/

.career{
   padding-top: 100px;
}
.cards{
   display: flex;
   margin-left: 180px;
   margin-right: 180px;
   padding-top: 30px;
}
.Backend{
     width:20em;
     line-height: 1.5;
     margin:30px;
     padding: 15px;
     background-color:rgb(115, 196, 115);
     text-align: center;
     padding-bottom: 50px;
     padding-top: 40px;
     border-radius: 10px;
}
.Designing{
   width:20em;
   line-height: 1.5;
   margin:30px;
   padding: 15px;
   background-color:rgb(83, 239, 239);
   text-align: center;
   padding-bottom: 50px;
   padding-top: 40px;
   border-radius: 10px;
   
}
.Skills{
   width:20em;
   line-height: 1.5;
   margin:30px;
   padding: 15px;
   background-color:rgb(242, 183, 74);
   text-align: center;
   padding-top: 40px;
   padding-bottom: 50px;
   border-radius: 10px;
}
.career{
   text-align: center;
   padding-left: 300px;
   padding-right: 300px;
}
.career p{
   font-size: 18px;
   color: #655a5a;
   padding-bottom: 50px;
}
.career h2{
   color: rgb(53, 41, 41);
   font-size: 40px;
   padding-bottom: 15px;
}
.career span{
   font-size: 18px;
   color: #8e8585;
}
.cards h4{
   font-weight: bold;
   color: #eee;
   padding-bottom: 15px;
}
.cards li{
   font-weight: bold;
   color: #eee;
}
.cards span{
   font-weight: bold;
   color: #eee;
}
.list-unstyled{
   padding-bottom: 20px;
}
#button1{
   padding:15px;
   border-radius: 5px;
   background-color:rgb(55, 133, 55);
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   color: #eee;

}
#button1:hover{
   background-color: rgb(43, 105, 43);
}
#button2{
   padding:15px;
   border-radius: 5px;
   background-color:rgb(25, 176, 176);
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   color: #eee;
}
#button2:hover{
   background-color: rgb(20, 152, 152);
}
#button3{
   padding:15px;
   border-radius: 5px;
   background-color: rgb(207, 142, 19);
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   color: #eee;
}
#button3:hover{
   background-color: rgb(190, 126, 6);
}

#button4{
   padding:15px;
   border-radius: 5px;
   background-color:rgb(231, 74, 74);
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   color: #eee;
}
/* career ends */

/* contact starts */

.Contact{
   padding-bottom: 20px;
}
.Contact{
   padding-top: 90px;
   padding-bottom: 90px;
   background: #3b3c3f url("https://www.pngall.com/wp-content/uploads/1/World-Map-Free-PNG-Image.png");
   background-repeat: no-repeat;
   background-position: center;
   color: #fff;
 }
 .contact-content {
   max-width: 600px;
   margin: 0 auto;
   margin-bottom: 60px;
   font-size: 16px;
 }
 .contact-content h2{
   font-size: 20px;
   font-weight: bold;
 }
 .contact-content span{
   color: rgb(218, 76, 76);
 }

 /* contact end */

 /* footer starts */

 .footer{
   background-color: rgb(42, 41, 41);
   color: #fff;
   padding: 15px;
 }

 /* footer ends */

/* media queries */

/* header */

@media (max-width:991px){
   html{
      font-size: 55%;
   }
   header img{
      margin: 20px;
   }
   .con{
      margin-right: 20px;
   }
} 

@media (max-width:768px){
   
   header #toggler-bars{
      display:block;
   }
   header .nav-bar{
      position:absolute;
      top: 100%; left: 0; right: 0;
      background: #eee;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   header .nav-bar a{
      margin: 1.5rem;
      padding: 1.5rem;
      background: #fff;
      border:.1rem solid rgba(0,0,0,.1);
      display: block;
   }
   header img{
      margin-right: 180px;
   }
   header #togglers:checked ~ .nav-bar{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
   }
}

@media(max-width:450px){
   html{
      font-size: 50%;
   }
   header img{
      margin-left: 50px;
   }
}

/* header ends */

/* home starts */
 
@media (max-width:991px){
   .home{
      padding-top: 100px;
   }
}
@media (max-width:405px){
   .home-content p{
      margin-bottom:70px;
   }
}
/* home ends */

/* About */

@media(max-width:991px){
   html{
      font-size: 55%;
   }
   .about{
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
      margin-top: 150px;
      line-height: 30px;
   }
   
}
@media (max-width:768px){
   .about{
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 150px;
      line-height: 30px;
   }
   .tech img{
      padding-top: 10px;
   }
   .about-container p{
      padding-top: 15px;
   }
}
@media (max-width:450px){
   html{
      font-size: 50%;
   }
   .about{
      text-align: center;
      padding-left: 10px;
      padding-right:10px;
      margin-top: 150px;
      line-height: 30px;
   }
   .about-container h2{
      font-size: 35px;
   }
   .about-container p{
      padding-top: 15px;
   }
}

/* about ends */

/* services starts */

@media (max-width:991px){
   html{
      font-size: 55%;
   }
.img1{
   width:50em;
   word-wrap:break-word ;
   line-height: 1.5;
   margin:10px;
   padding: 6px;
  }
  .flex{
   display: flex;
   padding-top: 5px;
   margin-right: 10px;
   margin-left: 10px;
}
.Services{
   text-align: center;
   padding-top: 120px;
}
}

@media (max-width:768px){
   .flex{
      display: inline-block;
   }
   .img1{
      width:40em;
      word-wrap:break-word ;
      line-height: 1.5;
   }
   .heading h2{
      padding-left: 10px;
      padding-right: 10px;
   }
   .heading p{
      padding-left: 15px;
      padding-right: 15px;
   }
   
}
@media (max-width:450px) {
   html{
      font-size: 50%;
   }
}
/* services ends */

/* clients  */

@media (max-width:991px){
   html{
      font-size: 55%;
   }
   .Clients{
      padding-top: 140px;
   }
   .clients-images{
      margin:2px;
      padding-left:100px;
      padding-right: 50px;
   }
   .head p{
      padding-left: 30px;
      padding-right:30px;
   }
} 
@media (max-width:768px){
   .clients-images{
      margin:2px;
      padding-left:10px;
      padding-right: 10px;
   }
   .head p{
      padding-left: 30px;
      padding-right:30px;
   }
} 
 @media (max-width:450px){
   .Clients{
      padding-top: 120px;
   }
   .clients-images img{
      margin:0px;
      padding-left:10px;
      padding-right: 0px;
      height: 80px;
      width: 90px;
      padding-top:0px;
      margin-top: 1px;
   }
   .head p{
      padding-left: 1px;
      padding-right:1px;
      padding-top: 2px;
   }
   .head h2{
      padding-left: 2px;
      padding-right: 2px;
   }

}

/* clients end */

/* career */

@media (max-width:991px){
   .Careers{
      padding-top: 30px;
   }
   .cards{
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 30px;
   }
   .Backend{
      width:30em;
   }
   .Designing{
      width:30em;
   }
   .Skills{
      width:30em;
   }
   .career{
      padding-left: 100px;
      padding-right: 100px;
   }
}
@media (max-width:768px){
   
   .cards{
      display:inline-block;
      width:30em;
      margin-right: 60px;
      margin-left: 190px;
   }
   .career {
      padding-left: 10px;
      padding-right: 10px;
   }
   .career p{
      padding-left: 15px;
      padding-right: 15px;
   }
   section .careers{
      align-items: center;
   }
}
@media (max-width:702px){
   .cards{
      display:inline-block;
      width:40em;
      margin-right: 0px;
      margin-left: 170px;
   }
   .career {
      padding-left: 10px;
      padding-right: 10px;
   }
   .career p{
      padding-left: 15px;
      padding-right: 15px;
}
}
@media (max-width:510px){
   .cards{
      display:inline-block;
      width:20em;
      margin-right: 0px;
      margin-left: 140px;
   }
   .career {
      padding-left: 10px;
      padding-right: 10px;
   }
   .career p{
      padding-left: 10px;
      padding-right: 10px;
   }
}
 @media (max-width:600px){
   .cards{
      display:inline-block;
      width:20em;
      margin-right: 0px;
      margin-left: 110px;
   }
   .career {
      padding-left: 10px;
      padding-right: 10px;
   }
   .career p{
      padding-left: 10px;
      padding-right: 10px;
   }
}
@media (max-width:510px){
   .cards{ 
      display:inline-block;
      width:20em;
      margin-right: 0px;
      margin-left: 75px;
   }
   .career {
      padding-left: 10px;
      padding-right: 10px;
   }
   .career p{
      padding-left: 10px;
      padding-right: 10px;
   }
}
@media (max-width:450px){
   .cards{ 
      display:inline-block;
      width:20em;
      margin-right: 0px;
      margin-left: 60px;
   }
}
@media (max-width:423px){
   .cards{ 
      display:inline-block;
      width:20em;
      margin-right: 0px;
      margin-left: 40px;
   }
}
/* career ends */




